<!DOCTYPE html>
<html>
    <head>
        <title>Secret Maccabees</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="stylesheets/style.css">
        <script src="https://kit.fontawesome.com/ad5c75b484.js" crossorigin="anonymous"></script>
        <noscript><div style="position: fixed; top: 0px; left: 0px; z-index: 3000; 
            height: 100%; width: 100%; background-color: #FFFFFF">
            <p style="margin-left: 10px">Halt, revolutionary! You will need JavaScript to proceed.</p>
        </div></noscript>
    </head>

    <body>
        