<%- include('./partials/header') -%>

  <div class='container'>
    <p>There has been an error processing your request.</p>

    <button class='Btn'><a href='/'>Go Back</a></button>
  </div>
  
<%- include('./partials/footer')  -%>