<%- include('./partials/header') -%>

  <div class='container'>
    
    <form id='participants' action='/submit' method='POST' >
      <h2>Gather the Maccabees</h1>
      
      <section class='error-messages'>
      </section>

      <table>
          <thead>
            <th>Participants</th>
            <th>Email</th>
          </thead>
          <tr class='person' data-key='_req1'>
              <td><input type="text" name='name' placeholder='Name' aria-required="true"></td>
              <td><input type='email' name='email' placeholder='Email' aria-required="true"></td>
          </tr>
          <tr class='person' data-key='_req2'>
              <td><input type="text" name='name' placeholder='Name' aria-required="true"></td>
              <td><input type='email' name='email' placeholder='Email' aria-required="true"></td>
          </tr>
          <tr class='person' data-key='_req3'>
              <td><input type="text" name='name' placeholder='Name' aria-required="true"></td>
              <td><input type='email' name='email' placeholder='Email' aria-required="true"></td>
          </tr>
      </table>
      
      <div class ='form-control'>
        <button class='Btn' id='addBtn'>Add More Rebels</button>
        <button class='Btn' id='submitBtn'>Send</button>
      </div>
    </form>
  </div>
  
<%- include('./partials/footer')  -%>